*{
    /* padding: 0;
    margin: 0; */
    font-family: 'Lemonada', cursive;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container{
    position: relative;
}

.month{
    font-weight: 500;
}

.pre {
    position: absolute;
    left: 0;
    top:0;
}

.next {
    position: absolute;
    right: 0;
    top:0;
}

thead th {
    border-bottom-width: 3px;
}

tbody td{
    width: 100px; 
    height: 100px;
}

.tdNotActive{
    border: 2px solid#dee2e6;
    background-color: rgba(0, 0, 0, 0.1);
}

.tdHover{
    font-weight: 300;
}

/* .tdHover:hover{
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
} */

.table-bordered td, .table-bordered th{
    border: 2px solid#dee2e6;
}

.text-white{
    color:white;
}